<div class="footer">
    <div class="shequ" (nzClick)="isShow = !isShow">
        <i class="icon iconfont icon-hudongshequ"></i>
        <span [ngClass]="{'show':isShow}">社区</span>
    </div>
    <div class="zixun">
        <i class="icon iconfont icon-zixun"></i>
        <span>资讯</span>
    </div>
    <div class="saohuo">
        <i class="icon iconfont icon-shoplight"></i>
        <span>扫货</span>
    </div>
    <div class="wode">
        <i class="icon iconfont icon-wode"></i>
        <span>我的</span>
    </div>
</div>