<div class="footer">
    <div class="community" routerLinkActive="active">
        <a [routerLink]="['/home']">
            <i class="icon iconfont icon-hudongshequ"></i>
            <span>社区</span>
        </a>

    </div>
    <div class="information" routerLinkActive="active">
        <a [routerLink]="['/information']">
            <i class="icon iconfont icon-zixun"></i>
            <span>资讯</span>
        </a>

    </div>
    <div class="shopping" routerLinkActive="active">
        <a [routerLink]="['/shopping']">
            <i class="icon iconfont icon-shoplight"></i>
            <span>扫货</span>
        </a>

    </div>
    <div class="myinfo" routerLinkActive="active">
        <a [routerLink]="['/myinfo']">
            <i class="icon iconfont icon-wode"></i>
            <span>我的</span>
        </a>
    </div>
</div>