.home-top {
    height: .88rem;
    position: fixed;
    width: 100%;
    top: 0;
    .search-icon {
        position: absolute;
        left: .2rem;
        top: 50%;
        transform: translateY(-50%);
        .iconfont {
            font-size: .4rem;
            line-height: .4rem;
        }
    }
    .message-icon {
        position: absolute;
        right: .2rem;
        top: 50%;
        transform: translateY(-50%);
        .iconfont {
            font-size: .4rem;
            line-height: .4rem;
        }
    }
}

.home-banner {
    width: 100%;
    height: 3.46rem;
    overflow: hidden;
    .banner-swiper {
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.home-nav {
    width: 100%;
    height: 1.72rem;
    background-color: #f7f7f7;
    position: relative;
    .home-nav-left {
        position: absolute;
        left: .2rem;
        top: 50%;
        transform: translateY(-50%);
        height: 1.34rem;
        width: 3.36rem;
        img {
            width: 100%;
            height: 100%;
        }
        .iconfont {
            font-size: .6rem;
            position: absolute;
            left: .4rem;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
        }
        h3 {
            font-size: .34rem;
            color: #fff;
            position: absolute;
            left: 1.2rem;
            top: 50%;
            transform: translateY(-50%);
            font-weight: 500;
        }
    }
    .home-nav-right {
        position: absolute;
        right: .2rem;
        top: 50%;
        transform: translateY(-50%);
        height: 1.34rem;
        width: 3.36rem;
        img {
            width: 100%;
            height: 100%;
        }
        .iconfont {
            font-size: .6rem;
            position: absolute;
            left: .4rem;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
        }
        h3 {
            font-size: .34rem;
            color: #fff;
            position: absolute;
            left: 1.2rem;
            top: 50%;
            font-weight: 500;
            transform: translateY(-50%);
        }
    }
}

.commend-topic {
    background-color: #fff;
    .commend-today {
        padding: 0 .2rem;
        padding-top: .2rem;
        overflow: hidden;
        h5 {
            color: #333;
            font-size: .26rem;
            float: left;
        }
        .topic-all {
            float: right;
            color: #0aabe8;
            font-size: .26rem;
            .iconfont {
                font-size: .26rem;
                color: #0aabe8
            }
        }
    }
    .topic-content {
        .topic-info {
            height: 1.34rem;
            border-bottom: 1px solid #f2f2f2;
            position: relative;
            .topic-img {
                position: absolute;
                left: .2rem;
                top: 50%;
                transform: translateY(-50%);
                width: .8rem;
                height: .8rem;
                border-radius: .04rem;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: .04rem;
                }
            }
            .topic-detail {
                position: absolute;
                left: 1.2rem;
                top: 45%;
                transform: translateY(-50%);
                .topic-title {
                    color: #000;
                    font-size: .24rem;
                    line-height: .5rem;
                }
                .topic-describe {
                    color: #666;
                    font-size: .22rem;
                }
            }
        }
    }
}

.today-commend {
    background-color: #fff;
    margin-top: .2rem;
    .today-titel {
        width: 100%;
        padding: 0 .2rem;
        padding-top: .2rem;
        color: #333;
        font-size: .26rem;
    }
    .commend-content {
        .commend-info {
            border-bottom: 1px solid #f2f2f2;
            overflow: hidden;
            .info-left-img {
                width: 15%;
                float: left;
                img {
                    width: .8rem;
                    height: .8rem;
                    margin-top: .2rem;
                    margin-left: .2rem;
                    border-radius: 50%;
                }
            }
            .info-right-detail {
                width: 85%;
                float: right;
                padding-left: .15rem;
                .info-right-top {
                    margin-top: .2rem;
                    overflow: hidden;
                    .person-info {
                        float: left;
                        .person-name {
                            color: #333;
                            font-size: .24rem;
                        }
                        .starttime {
                            color: #666;
                            font-size: .22rem;
                            line-height: .4rem;
                        }
                    }
                    .follow {
                        float: right;
                        margin-right: .2rem;
                        width: 1.2rem;
                        height: .5rem;
                        font-size: .26rem;
                        color: #33abaa;
                        background-color: #e4f7fe;
                        padding-left: .15rem;
                        .iconfont {
                            color: #33abaa;
                            font-size: .3rem;
                            line-break: .4rem;
                        }
                    }
                }
                .person-talk {
                    width: 90%;
                    padding-top: .1rem;
                    color: #333;
                    font-size: .24rem;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    word-wrap: break-word;
                    overflow: hidden;
                    line-height: .4rem;
                }
                .topic-name {
                    width: 90%;
                    padding-top: .05rem;
                    color: #999;
                    font-size: .2rem;
                }
            }
        }
    }
}

:host ::ng-deep .ant-tabs-bar {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: 0;
    .ant-tabs-nav-container {
        width: 100%;
        height: 100%;
        .ant-tabs-nav-scroll {
            width: 100%;
            height: 100%;
            .ant-tabs-nav {
                height: 100%;
                width: 100%;
                .ant-tabs-tab {
                    width: 25%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    line-height: .88rem;
                    text-align: center;
                }
                .ant-tabs-ink-bar {
                    width: 12% !important;
                    left: .4rem;
                    bottom: .16rem;
                    height: 1px;
                }
            }
        }
    }
}

:host ::ng-deep .ant-tabs-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .ant-tabs-tabpane {
        width: 100%;
        height: 100%;
    }
}

:host ::ng-deep .swiper-wrapper {
    position: relative;
    .swiper-pagination {
        position: absolute;
        bottom: .1rem;
        left: 50%;
        transform: translateX(-50%);
        .swiper-pagination-bullet {
            margin-right: .2rem;
            background-color: #f2f2f2;
            opacity: .5;
        }
        .swiper-pagination-bullet-active {
            background-color: #007aff;
            opacity: 1;
        }
        .swiper-pagination-bullet:last-child {
            margin: 0;
        }
    }
}