<div class="home">
    <div class="home-top">
        <div class="search-icon">
            <i class="icon iconfont icon-sousuo_sousuo"></i>
        </div>

        <div class="message-icon">
            <i class="icon iconfont icon-youjian"></i>
        </div>
    </div>
    <nz-tabset>
        <nz-tab>
            <ng-template #nzTabHeading>
                发现
            </ng-template>
            <div class="tab-content">
                <div class="home-banner">
                    <swiper class="banner-swiper" [config]="banner">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let item of bannerList">
                                <img [src]="item?.img">
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </swiper>
                </div>
                <div class="home-nav">
                    <div class="home-nav-left">
                        <img src="../../../assets/img/index/home-img_03.png" alt="">
                        <i class="icon iconfont icon-fujinderen"></i>
                        <h3>附近好友</h3>
                    </div>
                    <div class="home-nav-right">
                        <img src="../../../assets/img/index/home-img_06.png" alt="">
                        <i class="icon iconfont icon-iconfontpaihangbang"></i>
                        <h3>人气排行榜</h3>
                    </div>
                </div>
                <div class="commend-topic">
                    <div class="commend-today">
                        <h5>今日推荐话题</h5>
                        <div class="topic-all">
                            全部话题
                            <i class="icon iconfont icon-youjiantou"></i>
                        </div>
                    </div>
                    <div class="topic-content">
                        <div class="topic-info" *ngFor="let item of topicList | slice:0:3">
                            <div class="topic-img">
                                <img [src]="item?.img" alt="">
                            </div>
                            <div class="topic-detail">
                                <div class="topic-title">{{item?.title}}</div>
                                <div class="topic-describe">{{item?.discribe}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="today-commend">
                    <div class="today-titel">今日推荐</div>
                    <div class="commend-content">
                        <div class="commend-info">
                            <div class="info-left-img">
                                <img src="assets/img/user/user1.jpg" alt="">
                            </div>
                            <div class="info-right-detail">
                                <div class="info-right-top">
                                    <div class="person-info">
                                        <div class="person-name">ZHENGLIN</div>
                                        <div class="starttime">23小时前</div>
                                    </div>
                                    <div class="follow">
                                        <i class="icon iconfont icon-tianjia"></i> 关注
                                    </div>
                                </div>
                                <div class="person-talk">有机会一起摔跤</div>
                                <div class="topic-name">
                                    #sneaker girls
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-tab>
        <nz-tab>
            <ng-template #nzTabHeading>
                关注
            </ng-template>

        </nz-tab>
        <nz-tab>
            <ng-template #nzTabHeading>
                评测
            </ng-template>

        </nz-tab>
        <nz-tab>
            <ng-template #nzTabHeading>
                鉴定
            </ng-template>

        </nz-tab>
    </nz-tabset>
</div>